
.top-div{
    height: 160px;
    background-color: #ffffff;
}
.top-div > .center > div{
    display: inline-block;
    vertical-align: top;
}
.top-div > .center > .search-div{
    width: 50%;
    margin-left: 50px;
    padding-top: 40px;
    height: 120px;
    /*background-color: #48D1CC;*/
}
.selection{
    padding: 4px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /*background-color: #2BACA9;*/
    background: linear-gradient(to right, #69DAD7 , #2BACA9);
    color: #fff;
    font-weight: bold;
}
.top-div > .center > .search-div button:not(.selection){
    background-color: #ffffff;
    padding: 4px;
    color: #2BACA9;
}
.top-div > .center > .search-div button:not(.selection):hover{
    background-color: #AFEEEE;
}
.top-div > .center > .search-div > ul:first-child{
    margin-left: 20px;
}
.top-div > .center > .search-div > form :first-child > input{
    height: 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #2BACA9;
    border-right: 0px;
    width: 78%;
    padding-left: 10px;
    float: left;
}
.top-div > .center > .search-div > form :nth-child(2) > input{
    height: 39px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
    /*background-color: #2BACA9;*/
    background: linear-gradient(to right, #69DAD7 , #2BACA9);
    width: 19%;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    float: left;
}
.top-div > .center > .search-div > .hot-search{
    margin-top: 5px;
}
.core-div{
    margin-top: 20px;
}
.core-div > .commodity-show > div:not(:last-child){
    float: left;
    width: calc(100%/4 - 5px);
    margin: 5px 1.5px;
    height: auto;
    border: 1px solid #EDEDED;
}
.core-div > .commodity-show > div:not(:last-child):hover{
    border: 1px solid #2BACA9;
}
.core-div > .commodity-show > div:not(:last-child) > img{
    width: 290.5px;
    height: 290.5px;

    position: relative;
    left: 1px;
}
.core-div > .commodity-show > div > div > .price{
    font-size: 25px;
    font-weight: bold;
    color: #2BACA9;
}
body > div.center.core-div > div.commodity-show > div:not(:last-child) > div{
    padding: 0px 8px;
    margin: 5px 0px;
}
body > div.center.core-div > div.commodity-show > div:not(:last-child) > div.title{
    height: 40px;
    overflow: hidden;
}
body > div.center.core-div > div.commodity-show > div:not(:last-child) > div > a{
    word-wrap:normal;
    white-space: normal;
}
.core-div > div.commodity-show > div:not(:last-child) > .seller-info{
    height: 30px;
}
.core-div > .commodity-show > div:not(:last-child) > div:nth-child(2) > span:nth-child(2){
    float: right;
    position: relative;
    bottom: 0px;
    top: 11px;
}
.core-div > .commodity-show > div:not(:last-child) > div.seller-info > span.seller-address{
    float: right;
}
.core-div > .paging{
    margin: 10px 0px;
}
.core-div > .paging button{
    background-color: #F4F4F4;
    border: 1px solid #E0E0E0;
    height: 40px;
    font-size: 18px;
}
.core-div > .paging button:not(.paging-selection):not(.pre-page):hover{
    border: 1px solid #2BACA9;
    color: #2BACA9;
}
.core-div > .paging > .page-number{
    width: 40px;
    margin: 0px;
}
.core-div > .paging > .pre-page{
    padding: 0px 8px;
    color: #E0E0E0;
}
.core-div > .paging > .next-page{
    padding: 0px 8px;
    color: #000;
}
.core-div > .paging .paging-selection{
    background-color: #2BACA9;
    color: #fff;
    border: 1px solid #2BACA9;
}

.fixed-top{
    display: none;
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0;
    background-color: #fff;
}
.fixed-top > .center{
    height: 50px;
    width: 1190px;
}
.fixed-top > .center >:nth-child(1){
    margin-left: 20px;
    float: left;
}
.fixed-top > .center > .search-div{
    padding-top: 0px;
    height: 100%;
    float: left;
    margin-left: 180px;
}
.fixed-top > .center > .search-div > .select-option{
    height: 35px;
    border: 2px solid #2BACA9;
    border-right: 0;
    float: left;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 8px;
    background-color: #eee;
    width: 70px;
}
.fixed-top > .center > .search-div > .select-option > ul{
    line-height: 35px;
    cursor: pointer;
}
.fixed-top > .center > .search-div > .select-option > ul >:nth-child(3){
    margin-top: 2px;
    border-bottom: 2px solid #2BACA9;
}
.fixed-top > .center > .search-div > .select-option > ul > li{
    height: 35px;
    width: 70px;
    line-height: 35px;
    cursor: pointer;
    display: none;
    background-color: #efefef;
}
.fixed-top > .center > .search-div > .select-option > ul > li:hover{
    color: #2BACA9;
}
.fixed-top > .center > .search-div > form{
    padding-top: 8px;
    width: 80%;
    float: left;
}
.fixed-top > .center > .search-div > form >:nth-child(1) > input{
    border-radius: 0;
    border-left: 0;
}
.center > .search-div{
    width: 50%;
    margin-left: 50px;
    padding-top: 40px;
    height: 120px;
    /*background-color: #48D1CC;*/
}
.center > .search-div > ul:first-child{
    margin-left: 20px;
}
.center > .search-div > form :first-child > input{
    height: 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #2BACA9;
    border-right: 0px;
    width: 78%;
    padding-left: 10px;
    float: left;
}
.center > .search-div > form :nth-child(2) > input{
    height: 39px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
    /*background-color: #2BACA9;*/
    background: linear-gradient(to right, #69DAD7 , #2BACA9);
    width: 19%;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    float: left;
}
