*{
    margin: 0;
    padding: 0;
    font-family: STXihei;
    font-size: 14px;
    color: #000000;
    outline: none;
}
body{
    background-color: #F4F4F4;
}
a{
    text-decoration: none;
    white-space:nowrap;
}
a:hover{
    color: 	#2BACA9;
}
button{
    border: 0;
    background-color: #fff;
}
button:hover{
    cursor: pointer;
}
ul{
    list-style-type: none;
    text-align: center;
}
ul > li{
    list-style: none;
    float: left;
}

header{
    background-color: #f5f5f5;
    width: 100%;
    height: 40px;
}
header div{
    height: 100%;
}
header span{
    display: inline-block;
    padding: 0 5px;
    height: 100%;
    line-height: 40px;
}
.center{
    width: 1190px;
    margin: 0 auto;
}
header > .center > .left{
    float: left;
    width: 45%;
}
header > .center > .right{
    float: right;
    width: auto;
}
header > .center .header-list-item > span:not(#shopping-cart):not(#classification)::after{
    position: relative;
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    top: -2px;
    margin: 0 2px;
    border-top: 1px solid #656565;
    border-right: 1px solid #656565;
    transform: rotate(-45deg);
    -webkit-transform: rotate(135deg);
}
header > .center > .left > ul,header > .center > .right > ul{
    float: left;
}
header .header-list-item{
    height: 100%;
    display: inline-block;
    position: relative;
}
header .header-list-item > .level-2-menu > li > a{
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 10px;
}
header .header-list-item > .level-2-menu > li:hover{
    background-color: #eee;
    width: 100%;
    text-align: left;
}
header .header-list-item:hover{
    background-color: #ffffff;
    cursor: default;
}
header .header-list-item > .level-2-menu{
    position: absolute;
    display: none;
    background-color: white;
    padding: 0;
    top: 40px;
    left: 0px;
    width: auto;
    border-right: 1px  solid #f5f5f5;
    border-left: 1px  solid #f5f5f5;
    border-bottom: 1px  solid #f5f5f5;
    padding-top: 5px;
}
header .header-list-item:hover .level-2-menu{
    display: block;
}
#personal-info{
    width: 300px;
    height: auto;
}
#personal-info > .portrait{
    margin-left: 10px;
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
}
#personal-info > .operator{
    height: 100px;
    width: 190px;
    display: inline-block;
    vertical-align: top;
}
#personal-info > .operator > p{
    height: 60px;
    text-align: left;
    line-height: 40px;
    margin-left: 30px ;
}
#personal-info > .privilege{
    height: 30px;
    width: 80%;
    margin: 0 auto 5px auto;
    border-radius: 5px;
    background-color: #AFEEEE;
}
#personal-info > .privilege > a{
    display: block;
    line-height: 30px;
    width: 100%;
}
#personal-info > .privilege > a:hover{
    color: #ffFFFF;
}
#message-info{
    width: 180px;
    height: auto;
}
#message-info > a{
    display: block;
    padding-left: 5px;
    text-align: left;
}
#message-info>#more-message{
    padding-right: 5px;
    text-align: right;
}
#shopping-cart::after{
    content: '';
    position: relative;
    display: inline-block;
    background: url("./image/shopping_cart_icon.png");
    top: 5px;
    width: 20px;
    height: 20px;
}
header .right .header-list-item > span > a{
    display: inline-block;
}
footer{
    border-top: 1px solid #000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

